.calendar-week

    ul.calendar-week--days
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Пн
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Вт
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Ср
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Чт
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Пт
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Сб
        li.calendar-week--days-item
            .calendar-week--days-item-val
            .calendar-week--days-item-text Вс

    ul.calendar-week--hours

    .calendar-week--hours-wrap

    .calendar-week--lessons-info Неделя:
        .calendar-week--lessons-info-val


    //.top-600.calendar-week--popup.calendar-week--popup__visible.calendar-week--popup__normal.calendar-week--popup__arrow.calendar-week--popup__arrow-left.calendar-week--popup__arrow-normal.calendar-week--popup__arrow-top(href='')
    //    .calendar-week--popup-header
    //        .calendar-week--popup-header-info
    //            .calendar-week--popup-header-text Информатика, 8А
    //            .calendar-week--popup-header-time 14:00–15:30
    //        a.calendar-week--popup-header-right
    //    .calendar-week--popup--lesson-theme
    //        .calendar-week--popup--lesson-theme-header Тема урока
    //        .calendar-week--popup--lesson-theme-item Кодирование как изменение формы представления информации. Компьютерная графика. ПР №10.
    //    .calendar-week--popup-hometask
    //        .calendar-week--popup-hometask-header Дом. задание
    //        .calendar-week--popup-hometask-item__danger.calendar-week--popup-hometask-item Пройти тест параграфы 1-5 Прочитать
    //        .calendar-week--popup-hometask-item__normal.calendar-week--popup-hometask-item Пройти тест параграфы 1-5 Прочитать
    //    .calendar-week--popup-cabinet
    //        .calendar-week--popup-cabinet-header Кабинет:
    //        .calendar-week--popup-cabinet-item 234
    //    .calendar-week--popup-close
    //        a.calendar-but.calendar-week--popup-close-item(href='') Закрыть
    //br
    //.top-600.calendar-week--popup.calendar-week--popup__visible.calendar-week--popup__arrow-top.calendar-week--popup__normal.calendar-week--popup__arrow.calendar-week--popup__arrow-right.calendar-week--popup__arrow-normal(href='')
    //    .calendar-week--popup-header
    //        .calendar-week--popup-header-info
    //            .calendar-week--popup-header-text Информатика, 8А
    //            .calendar-week--popup-header-time 14:00–15:30
    //        a.calendar-week--popup-header-right
    //
    //    .calendar-week--popup-close
    //        a.calendar-but.calendar-week--popup-close-item(href='') Закрыть
    //
    //
    //br
    //.top-1000.calendar-week--popup.calendar-week--popup__visible.calendar-week--popup__arrow-top.calendar-week--popup__changed.calendar-week--popup__arrow.calendar-week--popup__arrow-right.calendar-week--popup__arrow-changed(href='')
    //    .calendar-week--popup-header
    //        .calendar-week--popup-header-info
    //            .calendar-week--popup-header-text
    //                .calendar-week--popup-header-text-item ИЗО, 8А
    //                .calendar-week--popup-header-text-item.strikeout-text  (мальчики)
    //                .calendar-week--popup-header-text-item (девочки)
    //
    //            .calendar-week--popup-header-time
    //                .calendar-week--popup-header-time-item.strikeout-text 14:00–15:30
    //                .calendar-week--popup-header-time-item 14:00–15:30
    //        a.calendar-week--popup-header-right
    //    .calendar-week--popup--lesson-theme
    //                .calendar-week--popup--lesson-theme-header Тема урока
    //                .calendar-week--popup--lesson-theme-item Кодирование как изменение формы представления информации. Компьютерная графика. ПР №10.
    //
    //    .calendar-week--popup-close
    //        a.calendar-but.calendar-week--popup-close-item(href='') Закрыть
    //
    //
    //br
    //.calendar-week--popup.calendar-week--popup__visible.calendar-week--popup__arrow-bottom.calendar-week--popup__cancel.calendar-week--popup__arrow.calendar-week--popup__arrow-right.calendar-week--popup__arrow-cancel(href='')
    //    .calendar-week--popup-header
    //        .calendar-week--popup-header-info
    //            .calendar-week--popup-header-text
    //                .calendar-week--popup-header-text-item Человек и общество, 8А (мальчики)
    //
    //            .calendar-week--popup-header-time
    //                .calendar-week--popup-header-time-item.strikeout-text 14:00–15:30
    //                .calendar-week--popup-header-time-item 14:00–15:30, 12 сентября
    //        a.calendar-week--popup-header-right
    //    .calendar-week--popup--lesson-theme
    //        .calendar-week--popup--lesson-theme-header Тема урока
    //        .calendar-week--popup--lesson-theme-item Кодирование как изменение формы представления информации. Компьютерная графика. ПР №10.
    //    .calendar-week--popup-changed-info
    //        .calendar-week--popup-changed-info-item Вы замещаете урок который должен вести: Николай Иванов
    //
    //    .calendar-week--popup-close
    //        a.calendar-but.calendar-week--popup-close-item(href='') Закрыть

