.calendar-week {
    width: 100%;
    position: relative !important;
    z-index: 5;
}

.calendar-week--hours-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.calendar-week--hour {
    width: 130px;
    height: 90px;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 131px;
        height: 91px;
        border: 1px solid $calendar-border-color;
        z-index: 0;
    }

    &__weekend {
        background: #fcf1f8;

        &-text {
            display: block;
            line-height: 90px;
            color: #ac7d99;
            text-align: center;
            font-size: 1.2rem;
        }
    }

    &__today {
        background: #f5fcff;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 131px;
            height: 91px;
            border-left: 1px solid #00aee0;
            border-right: 1px solid #00aee0;
            z-index: 1;
        }
    }

    &__today-weekend {
        background: #fcf1f8;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 131px;
            height: 91px;
            z-index: 1;
            border-left: 1px solid #00aee0;
            border-right: 1px solid #00aee0;
        }
    }



}


.calendar-week--lesson {
    position: relative;
    text-decoration: none;
    color: black;
    display: block;
    width: 130px;
    min-height: 30px;
    padding: 10px 10px;
    font-weight: 600;

    &__normal {
        z-index: 2;
        width: 131px;
        background: #c5e3b2;
        color: #627a5d;
    }

    &__normal:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 131px;
        height:100%;
        border: 1px solid #308c37;
        z-index: 2;
    }

    &__active {
        background: #75c13f;
    }

    &__changed {

        background: #ffed97;
        color: #967e1a;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 131px;
            height:100%;
            border: 1px solid #ffc700;
            z-index: 2;
        }
    }

    &__cancel {
        color: #303030;
        background: #eaeaea;
        z-index: 2;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            width: 129px;
            height: calc(100% - 2px);
            border: 1px dashed #a3a3a3;
            z-index: 2;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 131px;
            height:100%;
            border: 1px solid #a3a3a3;
            z-index: 2;
        }
    }

}


.calendar-week--lesson-time {
    font-size: 1.2rem;

}
.calendar-week--lesson-name {
    color: #060606;
    font-size: 1.3rem;
}
.calendar-week--lesson-cabinet {
    font-size: 1.3rem;
    font-weight: 400;
}

.calendar-week--days {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    left:0;
    color: #58595b;
    font-size: 1.2rem;
}
.calendar-week--days-item {
    display: inline-block;
    width: 130px;
    text-align: center;
}
.calendar-week--days-item__today {
    color: #00aee0;
}
.calendar-week--days-item-val {
    padding-right: 5px;
    display: inline-block;
}
.calendar-week--days-item-text {
    display: inline-block;
}
.calendar-week--weekend-text__invisible {
    display: none;
}

.calendar-week--hours {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 18px;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.calendar-week--hours-item {
    color: #6f6f6f;
    font-size: 1rem;
    list-style-type: none;
    transform: rotate(-90deg);
    display: block;
    height: 90px;
}

.calendar-week--weekend-text {
    color: #ac7d99;
    line-height: 90px;
    text-align: center;
    font-size: 1.2rem;
}

.calendar-week--lessons-info {
    display: block;
    margin: 30px 0 50px;
    color: #5a5a5a;
    font-size: 1.4rem;
    font-weight: 700;
}
.calendar-week--lessons-info-val {
    display: inline-block;
    font-weight: normal;
    padding-left: 5px;
}

.calendar-week--popup {
    display: block;
    visibility: hidden;
    position: absolute;
    top:0;
    z-index: 5;
    width: 250px;
    padding: 20px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    &__normal {
        border: 1px solid #00bae5;
        background: white;
    }

    &__cancel {
        border: 1px solid #aeaeae;
        background: #f0f0f0;
    }
    &__changed {
        border: 1px solid #00bae5;
        background: #fff7df;
    }

}

.calendar-week--popup__visible {
    visibility: visible;
}

.calendar-week--popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    &:after {
        content:' ';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $calendar-border-color;
        left:0;
    }
}
.calendar-week--popup-header-info {
    width: 200px;
}

.calendar-week--popup-header-right {
    background: url("./blocks/calendar-week/img/right.png");
    width: 8px;
    height: 13px;
}
.calendar-week--popup-header-text {
    font-size: 1.8rem;
    color: #333333;
}

.calendar-week--popup-header-text-item {
    display: inline-block;
    padding-right: 2px;
}

.calendar-week--popup-header-time {
    color: #00aee0;
    font-size: 1.4rem;
}

.calendar-week--popup-header-time-item {
    display: inline-block;
    padding-right: 2px;
}

.calendar-week--popup--lesson-theme {
    position: relative;
    color: #696969;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.calendar-week--popup-hometask {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;

    &:before {
        content:' ';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background: $calendar-border-color;
        left:0;
    }

}
.calendar-week--popup-hometask-item {
    color: #696969;
    font-size: 1.3rem;
}
.calendar-week--popup-hometask-header, .calendar-week--popup--lesson-theme-header {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333333;
}

.calendar-week--popup-hometask-item {
    position: relative;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    padding-left: 15px;

    &:after {
        content: ' ';
        position: absolute;
        left:0;
        top: calc(50% - 3px);
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }

}
.calendar-week--popup-hometask-item__normal:after {
    background: #3db733;
}
.calendar-week--popup-hometask-item__danger:after {
    background: #ff6c62;
}


.calendar-week--popup-cabinet {
    position: relative;
    padding-top: 8px;
    &:before {
        content: ' ';
        position: absolute;
        left:0;
        top: 5px;
        width: 100%;
        height: 1px;
        background: $calendar-border-color;
    }
}
.calendar-week--popup-cabinet-header, .calendar-week--popup-cabinet-item {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.3rem;
}
.calendar-week--popup-cabinet-header {
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 3px;
}

.calendar-week--popup-close{
    display: flex;
    justify-content: flex-end;
}
.calendar-week--popup-close-item {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    width: 85px;
    background: #f8f9fb;
    font-size: 1.3rem;
    line-height: 27px;
}

.calendar-week--popup-changed-info {
    position: relative;
    padding-top: 20px;
    &:before {
        content:' ';
        position: absolute;
        top: 5px;
        width: 100%;
        height: 1px;
        background: $calendar-border-color;
        left:0;
    }
}
.calendar-week--popup-changed-info-item {
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 14px;


    &:before  {
        content: ' ';
        position: absolute;
        left:0;
        top: 3px;
        width: 11px;
        height: 14px;
        background: url("./blocks/calendar-week/img/changed-info.png");
    }
}
.calendar-week--popup__arrow {
    position: relative;
}
.calendar-week--popup__arrow:before {
    content:' ';
    position: absolute;
    width: 9px;
    height: 9px;
    border: 9px solid transparent;
    border-right: 9px solid;
    z-index: 2;
}
.calendar-week--popup__arrow:after {
    content:' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-right: 11px solid;
    z-index: 0;
}
.calendar-week--popup__arrow-top:before {
    top: 21px;
}
.calendar-week--popup__arrow-top:after {
    top: 20px;
}
.calendar-week--popup__arrow-bottom:before {
    bottom: 21px;
}
.calendar-week--popup__arrow-bottom:after {
    bottom: 20px;
}

.calendar-week--popup__arrow-left {
    position: absolute;
    left: 140px;
}
.calendar-week--popup__arrow-right {
    position: absolute;
    right: 140px;
}
.calendar-week--popup__arrow-left:before {
    left: -18px;
}
.calendar-week--popup__arrow-left:after {
    left: -21px;
}
.calendar-week--popup__arrow-normal:before {
    border-right-color: white;
}
.calendar-week--popup__arrow-normal:after {
    border-right-color: #00aee0;
}

.calendar-week--popup__arrow-right:before {
    transform: rotate(180deg);
    right: -18px;
}
.calendar-week--popup__arrow-right:after {
    right: -21px;
    transform: rotate(180deg);
}

.calendar-week--popup__arrow-changed:before {
    border-right-color: #fff7df;
}
.calendar-week--popup__arrow-changed:after {
    border-right-color: #00aee0;
}

.calendar-week--popup__arrow-cancel:before {
    border-right-color: #f0f0f0;
}
.calendar-week--popup__arrow-cancel:after {
    border-right-color: #aeaeae;
}
