.calendar-panel
    .calendar-panel--today-but
        a.calendar-but.calendar-panel--today-but-href(href='') Сегодня
    .calendar-panel--nav
        a.calendar-but.calendar-panel--nav-but(href='')
            .calendar-panel--but-left
        .calendar-panel--date-nav 3–9 сентября 2014 г.
        a.calendar-but.calendar-panel--nav-but(href='')
            .calendar-panel--but-right
    .calendar-panel--day-nav
        a.calendar-but.calendar-panel--day-nav-but(href='') Месяц
        a.calendar-but.calendar-panel--day-nav-but.calendar-panel--day-nav-but__active(href='') Неделя
        a.calendar-but.calendar-panel--day-nav-but(href='') День
