.calendar-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $calendar-border-color;
    border-bottom: 0;
    height: 85px;
    padding: 0 10px 28px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.calendar-panel--nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-weight: 600;
}

.calendar-panel--today-but, .calendar-panel--day-nav {
    display: flex;
    width: 270px;
}
.calendar-panel--today-but {
    justify-content: flex-start;
}

.calendar-panel--today-but-href, .calendar-panel--nav-but{
  border-radius: 3px;
}

.calendar-panel--today-but-href {
    color: $calendar-text-color !important;
}

.calendar-panel--nav-but{
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.calendar-panel--but-left, .calendar-panel--but-right {
    border-radius: 4px;
    padding: 8px 6px;
    position: relative;
}
.calendar-panel--but-left::after,.calendar-panel--but-right::after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    bottom: -3px;
}
.calendar-panel--but-left::after {
    left: -2px;
    border-right: 5px solid #818284;
}

.calendar-panel--but-right::after {
    right: -2px;
    border-left: 5px solid #818284;
}

.calendar-panel--day-nav {
    display: flex;
    justify-content: flex-end;
}
.calendar-panel--day-nav-but {
    color: $calendar-text-color !important;
}

.calendar-panel--day-nav-but:nth-of-type(1) {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.calendar-panel--day-nav-but:nth-of-type(3) {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.calendar-panel--day-nav-but__active {
    color: white !important;
    border: 0 !important;
    background: linear-gradient(180deg, #0092bc 0%, #00acdd 100%);
}

.calendar-panel--date-nav {
    margin: 0 20px;
}