.calendar-info {
    display: flex;
    height: 67px;
    align-items: center;
}

.calendar-info--content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2px 0 1px;
}

.calendar-info--caption {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.calendar-info--caption-text {
    display: inline-block;
}

.calendar-info--more-info {
    display: inline-block;
    margin-left: 15px;
}

.calendar-info--legend {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 18px;
}

.calendar-info--legend-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.calendar-info--legend-item::before {
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: -15px;
    top: 4px;
}

.calendar-info--legend-item:nth-of-type(1)::before {
    background: $calendar-green;
}
.calendar-info--legend-item:nth-of-type(2)::before {
    background: $calendar-yellow;
}
.calendar-info--legend-item:nth-of-type(3)::before {
    background: $calendar-grey;
}