section.calendar-info
    .calendar-info--content-wrap
        .calendar-info--caption
            .header-text.calendar-info--caption-text Календарь
            a.more--info.calendar-info--more-info(href='')
        ul.calendar-info--legend
            li.calendar-info--legend-item По плану
            li.calendar-info--legend-item Изменения
            li.calendar-info--legend-item Отмена


