doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html" charset="utf-8" )
        title pageTitle
        link(href='main.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    body
        .calendar
            .container
                include blocks/calendar-info/calendar-info
                include blocks/calendar-panel/calendar-panel
                include blocks/calendar-week/calendar-week


    script(type='text/javascript' src='./main.js').


