$calendar-green: #75c13f;
$calendar-yellow: #ffd300;
$calendar-grey: #c5c5c5;
$calendar-border-color: #d1d4d5;
$calendar-text-color: #303030;

$day-block-width: 130px;
$calendar-width: $day-block-width * 7;

$container-padding-width: 15px;
$container-width: $calendar-width + $container-padding-width * 2;

@import "normalize.scss/normalize";
@import "calendar-info/calendar-info.scss";
@import "more-info/more-info.scss";
@import "header-text/header-text.scss";
@import "calendar-panel/calendar-panel.scss";
@import "calendar-but/calendar-but.scss";
@import "calendar-week/calendar-week.scss";
@import "strikeout-text/strikeout-text.scss";

:root {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 940px;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}


.container {
  width: $container-width;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-width;
  padding-right: $container-padding-width;
}

